.App {
    text-align: center;
  }
  .input{
      justify-content: center;

  }
  .TickerSearch{
    padding: 1%;
  }
  .stocks{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    background-color:black;
    padding-bottom:2px
  }

  .title{
    background-color:black;
    Padding-left:10px;
    Padding-top:3px;
    padding-bottom:3px;
    margin-top:10px;
    text-align: center;
    color: white;
  }
  .stock-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid red;
    margin: 10px;
    padding:10px;
    color: white;
  }
  .name{
    text-align: left;
  }
  .up-down{
    
    padding:1px;
    
    border-radius: 15px;
  }
  .up-down p{
    margin-left:10px;
    margin-right:10px;
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }